@page "/"

@inject SweetAlertService Swal;
@inject ICharacters Chacacters;
@inject NavigationManager NavigationManager;


<p>Lists Characters</p>
<div class="container">



@if (characters != null)
{

    @foreach (var item in characters)
    {

        <div class="card" style="width: 12rem; height : 400px; padding : 10px 0px 0px 0px">
            <img class="card-img-top" src="@ImageLoad.TOPNG(item.Image)" alt="image">
            <div class="card-body">

                <p class="card-text">ID: @item.IdCharacter</p>

                <h6 class="card-title">Name: @item.FirstName</h6>

                <h6 class="card-title">Clan: @item.NameClan</h6>

                <p class="card-text">Age @item.Age</p>
                
            </div>

            <div class="buttons">
                    <a href="" class="btn btn-warning" @onclick="(() => GetOneCharacter(item.IdCharacter))">
                        <i class="oi oi-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-danger" @onclick="(() => DeleteCharacter(item.IdCharacter))">
                        <i class="oi oi-trash"></i>
                    </a>
            </div>

        </div>
    }
}
else
{
        
            <div>
                <p>No hay datos</p>
            </div>
        
    }

</div>

@code {

    List<CharactersDTO>? characters = null;


    protected override async Task OnInitializedAsync()
    {
        characters = await Chacacters.Characters_GETS();
    }

    private async Task DeleteCharacter(int id)
    {
        var alert = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "¿Estás seguro?",
                Text = "¡No podrás revertir esto!",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "¡Sí, bórralo!",
                CancelButtonText = "¡No, cancela!",
                ReverseButtons = true
            });

        if (alert.IsConfirmed)
        {
            await Chacacters.Character_DELETE(id);
            // Buscar el índice del personaje que coincide con el ID proporcionado
            var index = characters!.FindIndex(character => character.IdCharacter == id);
            // Si se encuentra el personaje con el ID proporcionado, eliminarlo de la lista
            if (index != -1)
            {
                characters.RemoveAt(index);
            }
        }
    }

    private async Task GetOneCharacter(int id)
    {
        var getById = await Chacacters.Character_GET(id);

        if (getById != null)
        {
            NavigationManager.NavigateTo($"/addcharacter/{getById.IdCharacter}");
        }
    }
}
